extends ../components/base/layout

block variables
    - const title = "Паче - Каталог - Карточка товара"
    - const wrapperMods = ""
    - const hasHeader = true
    - const headerMods = ""
    - const hasFooter = true
    - const footerMods = ""
    - const currentUrl = "card.html"

block main
    main
      +card()
      +goods({
        title: "Дополните образ",
        list: [
          {
            image: {
              src: "image-1",
              format: "png",
              width: "464",
              height: "620",
              alt: "image"
            },
            title: "Топ с&nbsp;открытыми плечами из&nbsp;муслина",
            price: "2&nbsp;500&nbsp;₽",
            sizes: [
              "XS",
              "S",
              "M",
              "L",
              "XL"
            ],
            colors: [
              {
                color: "#92b66f"
              },
              {
                color: "#8898b3"
              },
              {
                color: "#d9619c"
              },
              {
                text: "+ Цвета"
              }
            ]
          },
          {
            image: {
              src: "image-1",
              format: "png",
              width: "464",
              height: "620",
              alt: "image"
            },
            title: "Топ с&nbsp;открытыми плечами из&nbsp;муслина",
            price: "2&nbsp;500&nbsp;₽",
            sizes: [
              "XS",
              "S",
              "M",
              "L",
              "XL"
            ],
            colors: [
              {
                color: "#92b66f"
              },
              {
                color: "#8898b3"
              },
              {
                color: "#d9619c"
              },
              {
                text: "+ Цвета"
              }
            ]
          },
          {
            image: {
              src: "image-1",
              format: "png",
              width: "464",
              height: "620",
              alt: "image"
            },
            title: "Топ с&nbsp;открытыми плечами из&nbsp;муслина",
            price: "2&nbsp;500&nbsp;₽",
            sizes: [
              "XS",
              "S",
              "M",
              "L",
              "XL"
            ],
            colors: [
              {
                color: "#92b66f"
              },
              {
                color: "#8898b3"
              },
              {
                color: "#d9619c"
              },
              {
                text: "+ Цвета"
              }
            ]
          },
          {
            image: {
              src: "image-1",
              format: "png",
              width: "464",
              height: "620",
              alt: "image"
            },
            title: "Топ с&nbsp;открытыми плечами из&nbsp;муслина",
            price: "2&nbsp;500&nbsp;₽",
            sizes: [
              "XS",
              "S",
              "M",
              "L",
              "XL"
            ],
            colors: [
              {
                color: "#92b66f"
              },
              {
                color: "#8898b3"
              },
              {
                color: "#d9619c"
              },
              {
                text: "+ Цвета"
              }
            ]
          },
          {
            image: {
              src: "image-1",
              format: "png",
              width: "464",
              height: "620",
              alt: "image"
            },
            title: "Топ с&nbsp;открытыми плечами из&nbsp;муслина",
            price: "2&nbsp;500&nbsp;₽",
            sizes: [
              "XS",
              "S",
              "M",
              "L",
              "XL"
            ],
            colors: [
              {
                color: "#92b66f"
              },
              {
                color: "#8898b3"
              },
              {
                color: "#d9619c"
              },
              {
                text: "+ Цвета"
              }
            ]
          }
        ]
      }).goods--tablet
      +goods({
        title: "Вам может понравиться",
        list: [
          {
            image: {
              src: "recommended-1",
              format: "png",
              width: "464",
              height: "620",
              alt: "recommended"
            },
            title: "Топ с&nbsp;открытыми плечами из&nbsp;муслина",
            price: "2&nbsp;500&nbsp;₽",
            sizes: [
              "XS",
              "S",
              "M",
              "L",
              "XL"
            ],
            colors: [
              {
                color: "#92b66f"
              },
              {
                color: "#8898b3"
              },
              {
                color: "#d9619c"
              },
              {
                text: "+ Цвета"
              }
            ]
          },
          {
            image: {
              src: "recommended-1",
              format: "png",
              width: "464",
              height: "620",
              alt: "recommended"
            },
            title: "Топ с&nbsp;открытыми плечами из&nbsp;муслина",
            price: "2&nbsp;500&nbsp;₽",
            sizes: [
              "XS",
              "S",
              "M",
              "L",
              "XL"
            ],
            colors: [
              {
                color: "#92b66f"
              },
              {
                color: "#8898b3"
              },
              {
                color: "#d9619c"
              },
              {
                text: "+ Цвета"
              }
            ]
          },
          {
            image: {
              src: "recommended-1",
              format: "png",
              width: "464",
              height: "620",
              alt: "recommended"
            },
            title: "Топ с&nbsp;открытыми плечами из&nbsp;муслина",
            price: "2&nbsp;500&nbsp;₽",
            sizes: [
              "XS",
              "S",
              "M",
              "L",
              "XL"
            ],
            colors: [
              {
                color: "#92b66f"
              },
              {
                color: "#8898b3"
              },
              {
                color: "#d9619c"
              },
              {
                text: "+ Цвета"
              }
            ]
          },
          {
            image: {
              src: "recommended-1",
              format: "png",
              width: "464",
              height: "620",
              alt: "recommended"
            },
            title: "Топ с&nbsp;открытыми плечами из&nbsp;муслина",
            price: "2&nbsp;500&nbsp;₽",
            sizes: [
              "XS",
              "S",
              "M",
              "L",
              "XL"
            ],
            colors: [
              {
                color: "#92b66f"
              },
              {
                color: "#8898b3"
              },
              {
                color: "#d9619c"
              },
              {
                text: "+ Цвета"
              }
            ]
          },
          {
            image: {
              src: "recommended-1",
              format: "png",
              width: "464",
              height: "620",
              alt: "recommended"
            },
            title: "Топ с&nbsp;открытыми плечами из&nbsp;муслина",
            price: "2&nbsp;500&nbsp;₽",
            sizes: [
              "XS",
              "S",
              "M",
              "L",
              "XL"
            ],
            colors: [
              {
                color: "#92b66f"
              },
              {
                color: "#8898b3"
              },
              {
                color: "#d9619c"
              },
              {
                text: "+ Цвета"
              }
            ]
          }
        ]
      })
      +goods({
        title: "Вы смотрели",
        list: [
          {
            image: {
              src: "recommended-1",
              format: "png",
              width: "464",
              height: "620",
              alt: "recommended"
            },
            title: "Топ с&nbsp;открытыми плечами из&nbsp;муслина",
            price: "2&nbsp;500&nbsp;₽",
            sizes: [
              "XS",
              "S",
              "M",
              "L",
              "XL"
            ],
            colors: [
              {
                color: "#92b66f"
              },
              {
                color: "#8898b3"
              },
              {
                color: "#d9619c"
              },
              {
                text: "+ Цвета"
              }
            ]
          },
          {
            image: {
              src: "recommended-1",
              format: "png",
              width: "464",
              height: "620",
              alt: "recommended"
            },
            title: "Топ с&nbsp;открытыми плечами из&nbsp;муслина",
            price: "2&nbsp;500&nbsp;₽",
            sizes: [
              "XS",
              "S",
              "M",
              "L",
              "XL"
            ],
            colors: [
              {
                color: "#92b66f"
              },
              {
                color: "#8898b3"
              },
              {
                color: "#d9619c"
              },
              {
                text: "+ Цвета"
              }
            ]
          },
          {
            image: {
              src: "recommended-1",
              format: "png",
              width: "464",
              height: "620",
              alt: "recommended"
            },
            title: "Топ с&nbsp;открытыми плечами из&nbsp;муслина",
            price: "2&nbsp;500&nbsp;₽",
            sizes: [
              "XS",
              "S",
              "M",
              "L",
              "XL"
            ],
            colors: [
              {
                color: "#92b66f"
              },
              {
                color: "#8898b3"
              },
              {
                color: "#d9619c"
              },
              {
                text: "+ Цвета"
              }
            ]
          },
          {
            image: {
              src: "recommended-1",
              format: "png",
              width: "464",
              height: "620",
              alt: "recommended"
            },
            title: "Топ с&nbsp;открытыми плечами из&nbsp;муслина",
            price: "2&nbsp;500&nbsp;₽",
            sizes: [
              "XS",
              "S",
              "M",
              "L",
              "XL"
            ],
            colors: [
              {
                color: "#92b66f"
              },
              {
                color: "#8898b3"
              },
              {
                color: "#d9619c"
              },
              {
                text: "+ Цвета"
              }
            ]
          },
          {
            image: {
              src: "recommended-1",
              format: "png",
              width: "464",
              height: "620",
              alt: "recommended"
            },
            title: "Топ с&nbsp;открытыми плечами из&nbsp;муслина",
            price: "2&nbsp;500&nbsp;₽",
            sizes: [
              "XS",
              "S",
              "M",
              "L",
              "XL"
            ],
            colors: [
              {
                color: "#92b66f"
              },
              {
                color: "#8898b3"
              },
              {
                color: "#d9619c"
              },
              {
                text: "+ Цвета"
              }
            ]
          }
        ]
      })


block modals
  +modal("modal--add-to-basket")(data-modal="add-to-basket")
    +add-to-basket()
  +modal("modal--complete-look")(data-modal="complete-look")
    +complete-look-modal()
  +modal("modal--basket")(data-modal="basket")
    +basket()
