extends ../components/base/layout

block variables
    - const title = "Паче - Каталог"
    - const wrapperMods = ""
    - const hasHeader = true
    - const headerMods = ""
    - const hasFooter = true
    - const footerMods = ""
    - const currentUrl = "catalog.html"

block main
    main
      +catalog()


block modals
