extends ../components/base/layout

block variables
    - const title = "Паче"
    - const wrapperMods = ""
    - const hasHeader = true
    - const headerMods = ""
    - const hasFooter = true
    - const footerMods = ""
    - const currentUrl = "index.html"

block main
    main
      +intro()
      +categories()
      +goods({
        title: "Новинки",
        list: [
          {
            href: "img/content/goods/image-1.png",
            image: {
              src: "image-1",
              format: "png",
              width: "464",
              height: "620",
              alt: "image"
            },
            title: "Топ с&nbsp;открытыми плечами из&nbsp;муслина",
            price: "2&nbsp;500&nbsp;₽",
            sizes: [
              "XS-S",
              "S",
              "M",
              "L",
              "XL"
            ],
            colors: [
              {
                color: "#92b66f"
              },
              {
                color: "#8898b3"
              },
              {
                color: "#d9619c"
              },
              {
                text: "+ Цвета"
              }
            ]
          },
          {
            href: "img/content/goods/image-1.png",
            image: {
              src: "image-1",
              format: "png",
              width: "464",
              height: "620",
              alt: "image"
            },
            title: "Топ с&nbsp;открытыми плечами из&nbsp;муслина",
            price: "2&nbsp;500&nbsp;₽",
            sizes: [
              "XS",
              "S",
              "M",
              "L",
              "XL"
            ],
            colors: [
              {
                color: "#92b66f"
              },
              {
                color: "#8898b3"
              },
              {
                color: "#d9619c"
              },
              {
                text: "+ Цвета"
              }
            ]
          },
          {
            href: "img/content/goods/image-1.png",
            image: {
              src: "image-1",
              format: "png",
              width: "464",
              height: "620",
              alt: "image"
            },
            title: "Топ с&nbsp;открытыми плечами из&nbsp;муслина",
            price: "2&nbsp;500&nbsp;₽",
            sizes: [
              "XS",
              "S",
              "M",
              "L",
              "XL"
            ],
            colors: [
              {
                color: "#92b66f"
              },
              {
                color: "#8898b3"
              },
              {
                color: "#d9619c"
              },
              {
                text: "+ Цвета"
              }
            ]
          },
          {
            href: "img/content/goods/image-1.png",
            image: {
              src: "image-1",
              format: "png",
              width: "464",
              height: "620",
              alt: "image"
            },
            title: "Топ с&nbsp;открытыми плечами из&nbsp;муслина",
            price: "2&nbsp;500&nbsp;₽",
            sizes: [
              "XS",
              "S",
              "M",
              "L",
              "XL"
            ],
            colors: [
              {
                color: "#92b66f"
              },
              {
                color: "#8898b3"
              },
              {
                color: "#d9619c"
              },
              {
                text: "+ Цвета"
              }
            ]
          },
          {
            href: "img/content/goods/image-1.png",
            image: {
              src: "image-1",
              format: "png",
              width: "464",
              height: "620",
              alt: "image"
            },
            title: "Топ с&nbsp;открытыми плечами из&nbsp;муслина",
            price: "2&nbsp;500&nbsp;₽",
            sizes: [
              "XS",
              "S",
              "M",
              "L",
              "XL"
            ],
            colors: [
              {
                color: "#92b66f"
              },
              {
                color: "#8898b3"
              },
              {
                color: "#d9619c"
              },
              {
                text: "+ Цвета"
              }
            ]
          }
        ]
      })
      +promo()
      +goods({
        title: "Мы рекомендуем",
        list: [
          {
            href: "img/content/goods/image-1.png",
            image: {
              src: "recommended-1",
              format: "png",
              width: "464",
              height: "620",
              alt: "recommended"
            },
            title: "Топ с&nbsp;открытыми плечами из&nbsp;муслина",
            price: "2&nbsp;500&nbsp;₽",
            sizes: [
              "XS",
              "S",
              "M",
              "L",
              "XL"
            ],
            colors: [
              {
                color: "#92b66f"
              },
              {
                color: "#8898b3"
              },
              {
                color: "#d9619c"
              },
              {
                text: "+ Цвета"
              }
            ]
          },
          {
            href: "img/content/goods/image-1.png",
            image: {
              src: "recommended-1",
              format: "png",
              width: "464",
              height: "620",
              alt: "recommended"
            },
            title: "Топ с&nbsp;открытыми плечами из&nbsp;муслина",
            price: "2&nbsp;500&nbsp;₽",
            sizes: [
              "XS",
              "S",
              "M",
              "L",
              "XL"
            ],
            colors: [
              {
                color: "#92b66f"
              },
              {
                color: "#8898b3"
              },
              {
                color: "#d9619c"
              },
              {
                text: "+ Цвета"
              }
            ]
          },
          {
            href: "img/content/goods/image-1.png",
            image: {
              src: "recommended-1",
              format: "png",
              width: "464",
              height: "620",
              alt: "recommended"
            },
            title: "Топ с&nbsp;открытыми плечами из&nbsp;муслина",
            price: "2&nbsp;500&nbsp;₽",
            sizes: [
              "XS",
              "S",
              "M",
              "L",
              "XL"
            ],
            colors: [
              {
                color: "#92b66f"
              },
              {
                color: "#8898b3"
              },
              {
                color: "#d9619c"
              },
              {
                text: "+ Цвета"
              }
            ]
          },
          {
            href: "img/content/goods/image-1.png",
            image: {
              src: "recommended-1",
              format: "png",
              width: "464",
              height: "620",
              alt: "recommended"
            },
            title: "Топ с&nbsp;открытыми плечами из&nbsp;муслина",
            price: "2&nbsp;500&nbsp;₽",
            sizes: [
              "XS",
              "S",
              "M",
              "L",
              "XL"
            ],
            colors: [
              {
                color: "#92b66f"
              },
              {
                color: "#8898b3"
              },
              {
                color: "#d9619c"
              },
              {
                text: "+ Цвета"
              }
            ]
          },
          {
            href: "img/content/goods/image-1.png",
            image: {
              src: "recommended-1",
              format: "png",
              width: "464",
              height: "620",
              alt: "recommended"
            },
            title: "Топ с&nbsp;открытыми плечами из&nbsp;муслина",
            price: "2&nbsp;500&nbsp;₽",
            sizes: [
              "XS",
              "S",
              "M",
              "L",
              "XL"
            ],
            colors: [
              {
                color: "#92b66f"
              },
              {
                color: "#8898b3"
              },
              {
                color: "#d9619c"
              },
              {
                text: "+ Цвета"
              }
            ]
          }
        ]
      })
      +goods({
        title: "Лидеры продаж",
        list: [
          {
            href: "img/content/goods/image-1.png",
            image: {
              src: "sales-leader-1",
              format: "png",
              width: "464",
              height: "620",
              alt: "sales-leader-1"
            },
            title: "Топ с&nbsp;открытыми плечами из&nbsp;муслина",
            price: "2&nbsp;500&nbsp;₽",
            sizes: [
              "XS",
              "S",
              "M",
              "L",
              "XL"
            ],
            colors: [
              {
                color: "#92b66f"
              },
              {
                color: "#8898b3"
              },
              {
                color: "#d9619c"
              },
              {
                text: "+ Цвета"
              }
            ]
          },
          {
            href: "img/content/goods/image-1.png",
            image: {
              src: "sales-leader-1",
              format: "png",
              width: "464",
              height: "620",
              alt: "sales-leader-1"
            },
            title: "Топ с&nbsp;открытыми плечами из&nbsp;муслина",
            price: "2&nbsp;500&nbsp;₽",
            sizes: [
              "XS",
              "S",
              "M",
              "L",
              "XL"
            ],
            colors: [
              {
                color: "#92b66f"
              },
              {
                color: "#8898b3"
              },
              {
                color: "#d9619c"
              },
              {
                text: "+ Цвета"
              }
            ]
          },
          {
            href: "img/content/goods/image-1.png",
            image: {
              src: "sales-leader-1",
              format: "png",
              width: "464",
              height: "620",
              alt: "sales-leader-1"
            },
            title: "Топ с&nbsp;открытыми плечами из&nbsp;муслина",
            price: "2&nbsp;500&nbsp;₽",
            sizes: [
              "XS",
              "S",
              "M",
              "L",
              "XL"
            ],
            colors: [
              {
                color: "#92b66f"
              },
              {
                color: "#8898b3"
              },
              {
                color: "#d9619c"
              },
              {
                text: "+ Цвета"
              }
            ]
          },
          {
            href: "img/content/goods/image-1.png",
            image: {
              src: "sales-leader-1",
              format: "png",
              width: "464",
              height: "620",
              alt: "sales-leader-1"
            },
            title: "Топ с&nbsp;открытыми плечами из&nbsp;муслина",
            price: "2&nbsp;500&nbsp;₽",
            sizes: [
              "XS",
              "S",
              "M",
              "L",
              "XL"
            ],
            colors: [
              {
                color: "#92b66f"
              },
              {
                color: "#8898b3"
              },
              {
                color: "#d9619c"
              },
              {
                text: "+ Цвета"
              }
            ]
          },
          {
            href: "img/content/goods/image-1.png",
            image: {
              src: "sales-leader-1",
              format: "png",
              width: "464",
              height: "620",
              alt: "sales-leader-1"
            },
            title: "Топ с&nbsp;открытыми плечами из&nbsp;муслина",
            price: "2&nbsp;500&nbsp;₽",
            sizes: [
              "XS",
              "S",
              "M",
              "L",
              "XL"
            ],
            colors: [
              {
                color: "#92b66f"
              },
              {
                color: "#8898b3"
              },
              {
                color: "#d9619c"
              },
              {
                text: "+ Цвета"
              }
            ]
          }
        ]
      })
      +stories()
      +about()

block modals
  +modal("modal--add-to-basket")(data-modal="add-to-basket")
    +add-to-basket()
  +modal("modal--complete-look")(data-modal="complete-look")
    +complete-look-modal()
  +modal("modal--basket")(data-modal="basket")
    +basket()
