mixin about-page()
  section.about-page
    .container
      .about-page__wrapper
        h1.about-page__title О&nbsp;нас
        .about-page__image
          +img("content/about", "girls", "webp", 1520, 800, "girls")
        .about-page__content
          p Паче&nbsp;&mdash; это бренд минималистичных купальников и&nbsp;белья. Вот уже 7&nbsp;лет (с&nbsp;лета 2016&nbsp;года) мы&nbsp;помогаем женщинам разного возраста, размера, роста и&nbsp;предпочтений выбрать комфортные вещи для дома и&nbsp;отдыха. Мы&nbsp;не&nbsp;выпускаем коллекции по&nbsp;сезонам. Мы&nbsp;предлагаем совсем другой путь выбора: при постоянном разнообразии вариантов, вы&nbsp;можете выбрать вещь из&nbsp;нашей огромной цветовой палитры. Одного голубого у&nbsp;нас 5&nbsp;оттенков! Это, в&nbsp;первую очередь, отражает идею нашего бренда: хорошие базовые единицы&nbsp;&mdash; верные друзья вашей естественной уникальной красоты. Вещи не&nbsp;акцентируют внимание на&nbsp;себе, а&nbsp;именно подчёркивают ваши достоинства.
          p В&nbsp;коллекции представлены базовые фасоны и&nbsp;периодически мы&nbsp;дополняем нашу линейку новинками, которые отлично сочетаются со&nbsp;всеми моделями из&nbsp;наличия. Это помогает не&nbsp;создавать перепроизводства, способствует рациональному потреблению и&nbsp;показывает нашим покупательницам, как из&nbsp;года в&nbsp;год модели остаются актуальными. Благодаря тому, что фасоны не&nbsp;выходят из&nbsp;линейки и&nbsp;остаются с&nbsp;нами постоянно, мы&nbsp;имеем возможность их&nbsp;дорабатывать, улучшая наши изделия. У&nbsp;нас собственное производство в&nbsp;Москве, что позволяет нам обеспечивать оперативный пошив временно отсутствующих моделей и&nbsp;предоставлять высокое качество изделий.
          p В&nbsp;нашем аккаунте Инстаграма вы&nbsp;можете увидеть, как красиво и&nbsp;по-разному, сидят наши фасоны на&nbsp;абсолютно разных женщинах.&nbsp;80% контента, что вы&nbsp;увидите&nbsp;&mdash; это фотографии наших покупательниц. Надеемся, что вы&nbsp;станете одной из&nbsp;них!
