mixin about()
  section.about
    .container
      h2.about__title О нас
      .about__text
        p П&Aacute;ЧЕ&nbsp;&mdash; российский бренд минималистичных купальников, белья, одежды для дома и&nbsp;фитнеса со&nbsp;своим производством в&nbsp;Москве.
        p Любовь к&nbsp;женщине, восхищение женской красотой, плавностью линий&nbsp;&mdash; вот что стоит в&nbsp;основе бренда. Именно поэтому в&nbsp;П&Aacute;ЧЕ совершенно отсутствует декор. Мы&nbsp;хотим, чтобы всё внимание было приковано непосредственно к&nbsp;женщине, а&nbsp;не&nbsp;к&nbsp;её&nbsp;одежде.
        p Мы&nbsp;подходим к&nbsp;пошиву и&nbsp;подбору моделей таким образом, чтобы подчеркнуть достоинства и&nbsp;красоту женщины независимо от&nbsp;особенностей фигуры, оттенка кожи и&nbsp;возраста.
        p Интернет-магазин женского нижнего белья и&nbsp;купальников П&Aacute;ЧЕ предлагает красивые минималистичные и&nbsp;современные модели бюстгальтеров и&nbsp;трусиков из&nbsp;итальянских тканей. У&nbsp;нас можно купить купальники с&nbsp;высокой посадкой, гофрированные купальники с&nbsp;интересной текстурой.
        p В&nbsp;ассортименте П&Aacute;ЧЕ представлена широкая палитра цветов. Каждый цвет в&nbsp;ней имеет несколько оттенков, которые отлично комбинируются между собой. При желании вы&nbsp;сможете заказать лиф и&nbsp;бикини разного цвета, и&nbsp;они будут прекрасно сочетаться.
        p В&nbsp;онлайн-магазине П&Aacute;ЧЕ комплект нижнего белья сможет купить женщина любого возраста и&nbsp;типа фигуры. Комфортное и&nbsp;современное нижнее белье П&Aacute;ЧЕ прекрасно смотрится и&nbsp;на&nbsp;совсем молодых девушках, и&nbsp;на&nbsp;зрелых женщинах. Размерная линейка нашего бренда широкая. В&nbsp;неё включены модели белья от&nbsp;маленьких размеров&nbsp;XS до&nbsp;больших&nbsp;XL.
        p Для комплектов белья и&nbsp;купальников предусмотрена возможность купить топ и&nbsp;трусики разного размера по&nbsp;отдельности. Также вы&nbsp;сможете подобрать комплект нижнего белья или раздельный купальник со&nbsp;стрингами, слипами, бикини галочка, танга или бразилиана, или наоборот к&nbsp;одним трусикам разный тип бюстгалтера&nbsp;&mdash; бралетт, лиф классика, лиф топ, бандо или ретро.
        p Помимо линии белья и&nbsp;купальников вы&nbsp;можете приобрести в&nbsp;нашем магазине спортивную одежду. Линию П&Aacute;ЧЕ для спорта отличает идеальная посадка, удобство и&nbsp;приятный состав ткани.
        p Мы&nbsp;осуществляем доставку товаров по&nbsp;всей России и&nbsp;Миру. Более того, вы&nbsp;сможете выбрать опцию купить онлайн с&nbsp;примеркой и&nbsp;примерить белье и&nbsp;купальники прямо у&nbsp;вас дома.
        p Помимо интернет-магазина, у&nbsp;нас есть офлайн-магазины и&nbsp;шоурумы, где вы&nbsp;можете примерить купальники и&nbsp;белье. Магазины представлены в&nbsp;Москве, Московской области&nbsp;г. Котельники, в&nbsp;Санкт-Петербурге, Екатеринбурге, в&nbsp;ОАЭ г. Дубай и&nbsp;в&nbsp;Беларуси г. Минск.
