mixin breadcrumbs(list)
  .breadcrumbs
    a.breadcrumbs__return(href="#" aria-label="Вернуться назад")
      +icon("icon-arrow-back", 32, 29)
    ul.breadcrumbs__list
      each item in list
        li.breadcrumbs__item
          a.breadcrumbs__link(class={"is-active" : item.isActive} href=item.href)!=item.text
