mixin catalog-card(data)
  .catalog-card&attributes(attributes)
    a.catalog-card__link(href="#")
    .catalog-card__image-wrapper
      +img("content/goods", data.image.src, data.image.format, data.image.width, data.image.height, data.image.alt)
      .catalog-card__menu
        +size(data.sizes)
        ul.catalog-card__colors-list
          each item in data.colors
            li.catalog-card__colors-item
              if (item.color)
                span.catalog-card__color(style={"background-color ": item.color})
              if (item.text)
                span.catalog-card__text!=item.text
        button(type="button").btn-reset.catalog-card__button
          +icon("icon-basket", 28, 28)
          | Купить
    .catalog-card__title-wrapper
      .catalog-card__title!=data.title
      .catalog-card__price!=data.price



