mixin catalog()
  section.catalog
    .container
      h2.visually-hidden Каталог
      ul.catalog__list
        li.catalog__item
          a.catalog__link(href="#")
            .catalog__image-wrapper
              +img("content/catalog", "image-1", "png", 728, 866, "image")
            .catalog__title-wrapper
              h3.catalog__title Белье
        li.catalog__item
          a.catalog__link(href="#")
            .catalog__image-wrapper
              +img("content/catalog", "image-1", "png", 728, 866, "image")
            .catalog__title-wrapper
              h3.catalog__title Белье
        li.catalog__item
          a.catalog__link(href="#")
            .catalog__image-wrapper
              +img("content/catalog", "image-1", "png", 728, 866, "image")
            .catalog__title-wrapper
              h3.catalog__title Белье
        li.catalog__item
          a.catalog__link(href="#")
            .catalog__image-wrapper
              +img("content/catalog", "image-1", "png", 728, 866, "image")
            .catalog__title-wrapper
              h3.catalog__title Белье
