mixin catalog-card(data)
  .catalog-card&attributes(attributes)
    a.catalog-card__link(href="#")
    .catalog-card__image-wrapper
      .catalog-card__image-slides
        .catalog-card__image-slide(style={"background-image " : "url(../img/content/goods/image-1.png);"})
      .catalog-card__image(style={"background-image " : "url(../img/content/goods/image-1.png);"})
      //- .catalog-card__slider.swiper(data-swiper="catalog-card")
      //-   .catalog-card__slides.swiper-wrapper
      //-     .catalog-card__slide.swiper-slide
      //-       .catalog-card__image-wrapper(data-element-size)
      //-         +img("content/goods", data.image.src, data.image.format, data.image.width, data.image.height, data.image.alt)
      //-     .catalog-card__slide.swiper-slide
      //-       .catalog-card__image-wrapper(data-element-size)
      //-         +img("content/goods", data.image.src, data.image.format, data.image.width, data.image.height, data.image.alt)
      .catalog-card__menu
        +size(data.sizes)
        .catalog-card__colors
          ul.catalog-card__colors-list
            each item in data.colors
              li.catalog-card__colors-item
                if (item.color)
                  button.btn-reset.catalog-card__color(style={"background-color ": item.color})
                if (item.text)
                  span.catalog-card__text!=item.text
        button(type="button" data-open-modal="add-to-basket").btn-reset.catalog-card__button
          +icon("icon-basket", 28, 28)
          | Купить

    .catalog-card__title-wrapper
      .catalog-card__title!=data.title
      .catalog-card__price!=data.price



