mixin complete-look(data)
  .complete-look
    if (data.title)
      h2.complete-look__title!=data.title
    .complete-look__slider.swiper(data-swiper="complete-look")
      .complete-look__slides.swiper-wrapper
        each item in data.list
          .complete-look__slide.swiper-slide
            +catalog-card(item)
      .swiper-button-next
      .swiper-button-prev
      .swiper-pagination
    if (data.button)
      +btn({href: "#", text: "Перейти к оформлению"}).complete-look__button
