mixin complete-look()
  -
    const list = [
      {
        image: {
          src: "image-1",
          format: "png",
          width: "464",
          height: "620",
          alt: "image"
        },
        title: "Топ с&nbsp;открытыми плечами из&nbsp;муслина",
        price: "2&nbsp;500&nbsp;₽",
        sizes: [
          "XS",
          "S",
          "M",
          "L",
          "XL"
        ],
        colors: [
          {
            color: "#92b66f"
          },
          {
            color: "#8898b3"
          },
          {
            color: "#d9619c"
          },
          {
          }
        ]
      },
      {
        image: {
          src: "image-1",
          format: "png",
          width: "464",
          height: "620",
          alt: "image"
        },
        title: "Топ с&nbsp;открытыми плечами из&nbsp;муслина",
        price: "2&nbsp;500&nbsp;₽",
        sizes: [
          "XS",
          "S",
          "M",
          "L",
          "XL"
        ],
        colors: [
          {
            color: "#92b66f"
          },
          {
            color: "#8898b3"
          },
          {
            color: "#d9619c"
          },
          {
            text: "+ Цвета"
          }
        ]
      },
      {
        image: {
          src: "image-1",
          format: "png",
          width: "464",
          height: "620",
          alt: "image"
        },
        title: "Топ с&nbsp;открытыми плечами из&nbsp;муслина",
        price: "2&nbsp;500&nbsp;₽",
        sizes: [
          "XS",
          "S",
          "M",
          "L",
          "XL"
        ],
        colors: [
          {
            color: "#92b66f"
          },
          {
            color: "#8898b3"
          },
          {
            color: "#d9619c"
          },
          {
            text: "+ Цвета"
          }
        ]
      },
      {
        image: {
          src: "image-1",
          format: "png",
          width: "464",
          height: "620",
          alt: "image"
        },
        title: "Топ с&nbsp;открытыми плечами из&nbsp;муслина",
        price: "2&nbsp;500&nbsp;₽",
        sizes: [
          "XS",
          "S",
          "M",
          "L",
          "XL"
        ],
        colors: [
          {
            color: "#92b66f"
          },
          {
            color: "#8898b3"
          },
          {
            color: "#d9619c"
          },
          {
            text: "+ Цвета"
          }
        ]
      },
      {
        image: {
          src: "image-1",
          format: "png",
          width: "464",
          height: "620",
          alt: "image"
        },
        title: "Топ с&nbsp;открытыми плечами из&nbsp;муслина",
        price: "2&nbsp;500&nbsp;₽",
        sizes: [
          "XS",
          "S",
          "M",
          "L",
          "XL"
        ],
        colors: [
          {
            color: "#92b66f"
          },
          {
            color: "#8898b3"
          },
          {
            color: "#d9619c"
          },
          {
            text: "+ Цвета"
          }
        ]
      }
    ]

  .complete-look
    .complete-look__slider.swiper(data-swiper="complete-look")
      .complete-look__slides.swiper-wrapper
        each item in list
          .complete-look__slide.swiper-slide
            +catalog-card(item)
      .swiper-button-next
      .swiper-button-prev
