mixin goods(data)
  section.goods&attributes(attributes)
    .container
      h2.goods__title!=data.title
      .goods__slider.swiper(data-swiper="goods")
        .goods__slides.swiper-wrapper
          each item in data.list
            .goods__slide.swiper-slide
              +catalog-card(item)
        .swiper-button-next(data-button-next="goods")
        .swiper-button-prev(data-button-prev="goods")
        .swiper-pagination
