mixin search()
  .search&attributes(attributes)
    form
      label
        span.visually-hidden Поиск
        span.search__icon
          +icon("icon-search", 14, 15)
        input(type="text" name="search" placeholder="Поиск")
