mixin search()
  .search&attributes(attributes)
    form
      label
        span.visually-hidden Поиск
        span.search__icon
          <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.2324 11.182L13 14M12.3333 6.76979C12.3333 9.95636 9.79628 12.5396 6.66667 12.5396C3.53705 12.5396 1 9.95636 1 6.76979C1 3.58322 3.53705 1 6.66667 1C9.79628 1 12.3333 3.58322 12.3333 6.76979Z" stroke="#292929" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        input(type="text" name="search" placeholder="Поиск")
