.breadcrumbs {
  display: flex;
  align-items: center;

  @include vp-767 {
    align-items: flex-start;
  }

  &__return {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;

    transition: opacity $trans-default;

    svg {
      flex-shrink: 0;

      width: 32px;
      height: 29px;
    }

    @include hover-focus {
      opacity: 0.8;
    }
  }

  &__list {
    display: inline;

    margin: 0;
    padding: 0;

    list-style: none;

    @include vp-767 {
      padding: 5px 0 0;
    }
  }

  &__item {
    position: relative;
    display: inline;

    &::after {
      content: "\00a0\2014";
      margin: 0 4px;

      font-weight: 400;
      font-size: 14px;
      line-height: 18px;

      color: $color-silver;

      @include vp-767 {
        font-size: 13px;
      }
    }

    &:last-child::after {
      content: none;
    }
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    color: $color-silver;

    transition: opacity $trans-default;

    @include vp-767 {
      font-size: 13px;
    }

    &.is-active {
      pointer-events: none;
    }

    @include hover-focus {
      opacity: 0.8;
    }
  }
}
