.catalog-card {
  position: relative;
  width: 100%;
  max-width: 464px;

  @include vp-1599 {
    max-width: 397px;
  }

  @include vp-1023 {
    width: 334px;
    max-width: unset;
  }

  @include vp-767 {
    width: 280px;
  }

  &--aside {
    .catalog-card__menu {
      display: none;

      @include vp-767 {
        display: grid;
      }
    }

    .catalog-card__title {
      font-size: 14px;
      line-height: 18px;
    }

    .catalog-card__price {
      font-size: 14px;
      line-height: 18px;
    }
  }

  @include hover-focus {
    .catalog-card__menu {
      transform: translateY(0);

      visibility: visible;
      opacity: 1;
    }
  }

  &__link {
    z-index: 1;
    position: absolute;
    display: block;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__image-wrapper {
    position: relative;

    width: 100%;
    max-width: 464px;
    padding-top: 133.7%;
    overflow: hidden;
  }

  &__image-slides {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;
    overflow: hidden;

    transition: opacity $trans-default;
  }

  &__image-slide {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__menu {
    z-index: 1;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 70px;
    column-gap: 25px;
    row-gap: 25px;

    left: 0;
    bottom: 0;

    width: 100%;
    padding: 30px;

    border-radius: 10px 10px 0 0;
    background-color: rgba($color-white-smoke, 0.6);

    backdrop-filter: blur(6px);

    transition: transform $trans-default, visibility $trans-default, opacity $trans-default;
    transform: translateY(100%);

    visibility: hidden;
    opacity: 0;

    @include vp-1199 {
      padding: 20px;
    }

    @include vp-1023 {
      padding: 30px 20px;
    }

    @include vp-767 {
      padding: 30px 15px;
    }
  }

  &__colors {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  &__colors-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__colors-item {
    &.selected {
      .catalog-card__color {
        border: 1px solid $color-nero;
      }
    }
  }

  &__color {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    width: 20px;
    height: 20px;

    border-radius: 50%;

    transition: border $trans-default;

    user-select: none;
    cursor: pointer;
  }

  &__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;

    color: $color-nero;
  }

  &__button {
    grid-column: 2 / 3;
    grid-row:  1 / 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    padding: 10px 9px;

    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    border-radius: 3px;
    color: $color-nero;
    background-color: rgba($color-default-white, 0.44);

    transition: opacity $trans-default;

    cursor: pointer;
    user-select: none;

    svg {
      flex-shrink: 0;

      width: 26px;
      height: 26px;
      margin-bottom: 5px;
    }

    @include hover-focus {
      opacity: 0.8;
    }
  }

  &__title-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 0;
  }

  &__title {
    max-width: 252px;
    margin: 0 20px 0 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    color: $color-nero;

    @include vp-1023 {
      font-size: 15px;
      line-height: 20px;
    }
  }

  &__price {
    margin: 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    color: $color-nero;

    @include vp-1023 {
      font-size: 15px;
      line-height: 20px;
    }
  }
}
