.color {
  position: relative;
  display: flex;
  max-height: 56px;
  padding: 30px 0 0;

  overflow: hidden;

  [data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 0;
    left: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    color: $color-nero;

    opacity: 0;

    transition: opacity $trans-default;
  }

  &--filter {
    max-height: 26px;
    padding: 0;
  }

  &--card {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    position: static;
    max-height: unset;
    padding: 0;

    overflow: visible;

    @include vp-1023 {
      position: relative;
      max-height: 56px;
      padding: 30px 0 0;

      overflow: hidden;
    }

    .color__list {
      @include vp-1023 {
        column-gap: 24px;
      }
    }

    [data-tooltip]::after {
      top: unset;
      right: 30px;
      bottom: 5px;
      left: unset;

      pointer-events: none;

      @include vp-1199 {
        right: 20px;
      }

      @include vp-1023 {
        top: 0;
        right: unset;
        bottom: unset;
        left: 0;
      }
    }

    .color__icon {
      display: none;

      @include vp-1023 {
        display: flex;
      }
    }
  }

  &--gift {
    max-height: 56px;
    padding: 30px 0 0 3px;

    .color__list {
      column-gap: 24px;
    }
  }

  &.is-active {
    max-height: unset;
    overflow: visible;

    .color__icon {
      svg {
        transform: rotate(180deg);
      }
    }
  }

  &__label {
    margin: 0 15px 0 0;

    font-weight: 400;
    font-size: 15px;
    line-height: normal;

    color: $color-grey;
  }

  &__list {
    z-index: 1;

    display: grid;
    grid-template-columns: repeat(6, 20px);
    column-gap: 10px;
    row-gap: 10px;
    min-height: 26px;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;

    &.selected {
      .color__button {
        box-shadow: 0 0 0 3px $color-grey;
      }

      [data-tooltip]::after {
        opacity: 1;
      }
    }
  }

  &__button {
    width: 20px;
    height: 20px;

    border-radius: 50%;

    transition: box-shadow $trans-default;

    cursor: pointer;
    user-select: none;

    &--white {
      border: 1px solid $color-silver;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;

    width: 24px;
    height: 20px;

    cursor: pointer;
    user-select: none;

    svg {
      flex-shrink: 0;

      width: 12px;
      height: 6px;

      transition: transform $trans-default;
    }
  }
}
