.look-in-history {
  &__wrapper {
    padding: 70px 0;

    @include vp-1599 {
      padding: 40px 0 60px;
    }

    @include vp-1023 {
      padding: 50px 0;
    }

    @include vp-767 {
      padding: 40px 0;
    }
  }

  &__title {
    margin: 0 0 82px;

    font-weight: 600;
    font-size: 33px;
    line-height: normal;

    color: $color-nero;

    @include vp-1023 {
      margin: 0 0 40px;

      font-size: 25px;
    }

    @include vp-767 {
      margin: 0 0 30px;

      font-size: 20px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 64px;
    row-gap: 64px;
    margin: 0;
    padding: 0;

    list-style: none;

    @include vp-1599 {
      column-gap: 44px;
      row-gap: 44px;
    }

    @include vp-1023 {
      grid-template-columns: 1fr 1fr;
      column-gap: 20px;
      row-gap: 30px;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      column-gap: unset;
      row-gap: unset;
    }
  }

  &__item {
    display: flex;
    justify-content: center;

    @include vp-767 {
      margin: 0 0 50px;
    }

    &:last-child {
      @include vp-767 {
        margin: 0;
      }
    }
  }
}
