.mailing {
  &__title {
    margin: 0 0 15px;

    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    color: $color-default-white;
  }

  &__description {
    margin: 0 0 40px;

    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    color: $color-light-gray;

    @include vp-767 {
      margin: 0 0 30px;

      font-size: 14px;
      line-height: 18px;
    }
  }

  &__form {
    width: 100%;
  }

  &__form-wrapper {
    display: flex;
    position: relative;

    @include vp-767 {
      flex-direction: column;
    }
  }

  label {
    width: 100%;
  }

  input {
    width: 100%;
    padding: 12px 180px 11px 20px;

    font-weight: 400;
    font-size: 15px;
    line-height: 23px;

    color: $color-nero;

    border: none;
    border-radius: 4px;
    background-color: $color-default-white;

    outline: none;

    @include vp-767 {
      padding: 12px 20px 11px;

      font-size: 14px;
      line-height: 21px;
    }

    &::placeholder {
      font-weight: 400;
      font-size: 15px;
      line-height: 23px;

      color: $color-grey;

      @include vp-767 {
        font-size: 14px;
        line-height: 21px;
      }
    }
  }

  &__button {
    position: absolute;

    top: 0;
    right: 0;

    padding: 11px 30px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    border-radius: 4px;
    color: $color-nero;
    background-color: $color-light-gray;

    transition: background-color $trans-default;

    cursor: pointer;
    user-select: none;

    @include vp-767 {
      position: relative;

      margin-top: 10px;

      font-size: 14px;
    }

    @include hover-focus {
      background-color: $color-silver;
    }
  }

  &__text {
    margin: 15px 0 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    color: $color-silver;

    @include vp-767 {
      margin: 10px 0 0;

      font-size: 13px;
      line-height: 17px;
    }
  }
}
