.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1421px;

  /* &.is-active {
    .main-nav__toggle {
      &::before {
        top: 15px;
        transform: rotate(-45deg) translate(0, -50%);
      }

      &::after {
        top: 13px;
        transform: rotate(45deg) translate(0, 50%);
      }
    }

    .main-nav__list {
      transform: translateX(0);
    }
  } */

  &__toggle {
    z-index: 11;
    position: relative;
    display: none;

    width: 30px;
    height: 30px;

    cursor: pointer;
    user-select: none;

    transition: opacity $trans-default;

    @include vp-767 {
      display: block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;

      left: 0;

      width: 100%;
      height: 2px;

      background-color: $color-default-white;

      transition: transform $trans-default;
    }

    &::before {
      top: 10px;
    }

    &::after {
      bottom: 10px;
    }

    @include hover-focus {
      opacity: 0.8;
    }
  }

  &__list {
    display: flex;

    margin: 0 20px 0 73px;
    padding: 18px 0 6px;

    list-style: none;

    /* @include vp-767 {
      z-index: 10;
      position: fixed;
      flex-direction: column;
      justify-content: flex-start;

      top: 100px;
      left: 0;

      width: 100%;
      height: 100vh;
      padding: 100px 20px 20px;

      background-color: rgba($color-black-russian, 0.9);

      transition: transform $trans-default;
      transform: translateX(100%);
    } */
  }

  &__item {
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: $color-nero;

    transition: opacity $trans-default;
    transform: translate3d(0, 0, 0);

    svg {
      flex-shrink: 0;

      width: 11px;
      height: 6px;
      margin-left: 5px;

      transition: transform $trans-default;
    }

    @include hover-focus {
      opacity: 0.8;
    }
  }

  &__dropdown {
    display: none;
  }

  &__sublist {
    margin: 0;
    padding: 20px;

    border-radius: 0 0 4px 4px;
    background-color: $color-white-smoke;

    list-style: none;
  }

  &__subitem {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__sublink {
    display: block;

    font-size: 15px;
    line-height: 20px;

    color: $color-nero;
  }

  &__user-nav {
    display: flex;
    align-items: center;
    padding: 11px 0 0;
  }

  &__search {
    margin-right: 50px;
  }

  &__account {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;

    svg {
      flex-shrink: 0;

      width: 22px;
      height: 22px;
    }
  }

  &__language {
    width: 25px;
    height: 25px;
    margin-right: 20px;
  }

  &__basket {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      flex-shrink: 0;

      width: 21px;
      height: 21px;
    }
  }
}
