.modal {
  z-index: 1000;
  position: fixed;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  background-color: rgba($color-default-black, 0.8);

  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;

  transition: opacity $trans-modal, transform $trans-modal, visibility $trans-modal;

  pointer-events: none;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    position: relative;

    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 60px 40px;

    @include vp-1023 {
      padding: 60px 0;
    }
  }

  &__overlay {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;
  }

  &__content {
    position: relative;

    width: 768px;
    padding: 60px 40px 30px;

    border-radius: 10px;
    background-color: $color-default-white;

    @include vp-1023 {
      width: 100%;
      padding: 30px 40px;
    }

    @include vp-767 {
      padding: 30px 20px;
    }
  }

  &__title {
    margin: 0 0 30px;

    font-weight: 400;
    font-size: 22px;
    line-height: normal;

    color: $color-nero;

    @include vp-767 {
      font-size: 20px;
    }
  }

  &__close-button {
    z-index: 1;
    position: absolute;

    top: 50px;
    right: 40px;

    width: 21px;
    height: 21px;

    cursor: pointer;

    transition: opacity $trans-default;

    @include vp-767 {
      top: 40px;
      right: 20px;
    }

    @include hover-focus {
      opacity: 0.8;
    }
  }

  &.is-active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;

    pointer-events: auto;
  }

  &--add-to-basket {
    .modal__close-button {
      display: none;
    }
  }

  &--complete-look {
    .modal__content {
      padding: 50px 40px;

      @include vp-1023 {
        padding: 50px 40px;
      }

      @include vp-767 {
        padding: 40px 20px;
      }
    }
  }

  &--basket {
    transform: none;

    .modal__wrapper {
      justify-content: flex-end;
      align-items: flex-start;
      padding: 0;

      @include vp-1023 {
        padding: 0;
      }
    }

    .modal__content {
      width: 608px;
      height: 100%;
      padding: 30px 50px;

      border-radius: 0;

      transition: visibility $trans-default, opacity $trans-default, transform $trans-default;

      visibility: hidden;
      opacity: 0;

      transform: translateX(100%);

      @include vp-1599 {
        width: 568px;
      }

      @include vp-1023 {
        width: 438px;
        padding: 30px 40px;
      }

      @include vp-767 {
        width: 100%;
        padding: 30px 20px;
      }
    }

    .modal__close-button {
      top: 30px;
      right: 20px;

      @include vp-767 {
        top: 30px;
        right: 20px;
      }
    }


    &.is-active {
      transform: none;

      .modal__content {
        visibility: visible;
        opacity: 1;

        transform: translateX(0);
      }
    }
  }
}
