.size {
  &--card {
    .size__list {
      @include vp-1023 {
        column-gap: 20px;
      }
    }
  }

  &--gift {
    .size__list {
      column-gap: 20px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    &.selected {
      .size__button {
        background-color: $color-nobel;
      }
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    width: 100%;
    min-width: 24px;
    padding: 2px 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    border: 1px solid $color-nobel;
    border-radius: 2px;
    color: $color-nero;

    transition: background-color $trans-default;

    cursor: pointer;
    user-select: none;

    @include hover-focus {
      background-color: $color-nobel;
    }
  }
}
