mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "#",
        text: "Купальники",
        dropdown: [
          {
            href: "#",
            text: "Лифы"
          },
          {
            href: "#",
            text: "Плавки"
          },
          {
            href: "#",
            text: "Слитые"
          },
          {
            href: "#",
            text: "Смотреть все"
          }
        ]
      },
      {
        href: "#",
        text: "Белье"
      },
      {
        href: "#",
        text: "Одежда"
      },
      {
        href: "#",
        text: "Аксессуары"
      },
      {
        href: "#",
        text: "Последний шанс",
      },
      {
        href: "#",
        text: "Подарочный сертификат"
      },
      {
        href: "#",
        text: "О нас"
      },
      {
        href: "#",
        text: "Магазины"
      }
    ]

  header.header(class=headerMods data-fix-block)
    .container
      .header__wrapper
        a.header__logo(href="index.html", aria-label="Переход на главную")
          +icon("logo", 99, 44)

        nav.main-nav(data-menu)
          button(type="button" aria-label="Переключатель отображения меню", aria-pressed="false" data-menu-toggle).btn-reset.main-nav__toggle
            span
            span
            span
          .main-nav__menu
            ul.main-nav__list(data-nav="list")
              each item in headerLinks
                li.main-nav__item(class={"main-nav__item--dropdown" : item.dropdown} data-nav=(item.dropdown ? "item" : false))
                  .main-nav__link-wrapper(data-nav=(item.dropdown ? "link" : false))
                    a.main-nav__link(href=item.href )!=item.text
                    if (item.dropdown)
                      +icon("icon-chevron-down", 11, 6)

                  if (item.dropdown)
                    .main-nav__dropdown(data-nav="dropdown")
                      ul.main-nav__sublist
                        each subitem in item.dropdown
                          li.main-nav__subitem
                            a.main-nav__sublink(href=subitem.href)!=subitem.text
            +search().main-nav__search
          .main-nav__user-nav
            a(href="#").btn-reset.main-nav__account
              +icon("icon-account", 23, 22)
            a(href="#").btn-reset.main-nav__language
              span EN
            a(href="#" data-open-modal="basket").btn-reset.main-nav__basket
              +icon("icon-basket", 23, 23)

