//- Base

include ./base/header
include ./base/footer

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture
include ./utils/sprite

//- Modals

//- Blocks

include ./blocks/search
include ./blocks/intro
include ./blocks/categories
include ./blocks/goods
include ./blocks/catalog-card
include ./blocks/promo
include ./blocks/stories
include ./blocks/about
include ./blocks/mailing
include ./blocks/catalog
include ./blocks/breadcrumbs
include ./blocks/card
include ./blocks/size
include ./blocks/order
include ./blocks/total

//- Mixins

include ./mixins/btn
include ./mixins/custom-input
include ./mixins/custom-checkbox
